<div ng-controller="RecipeDetailCtrl">

    <div class="row">
        <div class="col-sm-6 nopadding">
            <div class="background-image" style="background-image: url(foodelicious/image/{{recipe.imageId}});"></div>
        </div>
        <div class="col-sm-6">
            <div class="padded-container">
                <div class="page-header">
                    <h1>{{recipe.name}} <span class="label label-default">{{recipe.courseType.name}}</span></h1>

                    <p class="lead" ng-bind-html="recipe.description"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="padded-container">
                        <p>
                            {{recipe.servings}} porsjoner<br/>
                        </p>

                        <h3>Ingredienser</h3>

                        <p ng-bind-html="recipe.ingredients"></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="padded-container">
                        <p ng-bind-html="recipe.directions"></p>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>
