<div>
    <div class="container">
        <p></p>

        <form>
            <div class="form-group">
                <input id="name" type="text" class="form-control" placeholder="Link til oppskriften"/>
            </div>
            <div class="form-group">
                <input id="name" type="text" class="form-control" placeholder="Tittel"/>
            </div>

            <div class="form-group">
                <input id="servings" type="number" class="" min="1" max="9" step="1"
                       value="4"/>
                <label for="servings" class="control-label">Porsjoner</label>
            </div>
            <div class="form-group">
                <label for="ingredients" class="control-label">Ingredienser</label>
                <textarea id="ingredients" class="form-control" rows="9" placeholder="2 sjalottløk"></textarea>
            </div>
            <div class="form-group">
                <a href="#/shoppinglistOverview" type="submit" class="btn btn-primary">Legg til i handlelista</a>
            </div>
        </form>

    </div>
</div>
