<div>
    <div class="container">
        <h3>Oppskrifter</h3>
        <ul>
            <li>Lun bønnesalat med chili og feta</li>
            <li>Thaisuppe med kylling og rød curry</li>
        </ul>

        <span class="glyphicon glyphicon-plus-sign"></span>

        <h3>Handleliste</h3>
        <ul>
            <li>2 sjalottløk, i tynne strimler</li>
            <li>2 fedd hvitløk, i tynne skiver</li>
            <li> 1/2-1 rød chili, i tynne skiver</li>
            <li> nøytral olje</li>
            <li> 1 boks GoGreen bønnemiks</li>
            <li> 1 boks GoGreen store hvite bønner</li>
            <li> ca. 100 g ruccula</li>
            <li> 2-3 ss god olivenolje</li>
            <li> friske krydderurter, feks persille, basilikum eller koriander, finhakket</li>
            <li> 1/2 sitron, saften</li>
            <li> salt og nykvernet sort pepper</li>
            <li> ca. 100 g feta, smuldret</li>

        </ul>


    </div>
</div>
